/* Main container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
}

/* Individual card */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Card image */
.card img {
  width: 100%;
  height: 60vh;
  /* object-fit: contain; */
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 1rem;
}

/* Text styling */
.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.actor,
.desc {
  font-size: 1rem;
  color: #555;
}

.rating {
  font-size: 1.1rem;
  font-weight: bold;
  color: #007bff;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  max-height: 70vh;
  overflow-y: auto;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

#modalImg {
  width: -webkit-fill-available;
  margin-bottom: 1rem;
}

#del {
  user-select: none;
  background-color: red;
  color: white;
}

#del:hover {
  background-color: rgb(163, 0, 0);
}

.cldel {
  margin: 0.5rem;
}

/* Responsive Design */
@media (min-width: 1024px) {
  .card-container {
    justify-content: space-evenly;
  }

  .card {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .name,
  .actor,
  .desc,
  .rating {
    font-size: 0.9rem;
  }

  .modal-content {
    max-width: 100%;
    padding: 15px;
  }
}

/* Foldable Devices */
@media (min-aspect-ratio: 3/2) and (orientation: landscape) {
  .card-container {
    justify-content: space-evenly;
    padding: 10px;
  }

  .card {
    width: 45%;
  }
}

@media (max-aspect-ratio: 3/2) and (orientation: portrait) {
  .card-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card {
    width: 90%;
  }
}
